@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    font-family: 'Rubik', sans-serif;
}

body
{
    background-color:#212121;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    gap: 30px;
    position: relative;
}
h1 {
    top: 7%;
    letter-spacing: 1px;
    position: absolute;
    font-size: 30px;
    background-color: #212121;
    padding: 2px 10px;
    z-index: 2;
    color: #00dfc4;
    text-transform: capitalize;
    font-weight: 1;
    border-right: 4px solid #00dfc4;
    border-left: 4px solid #00dfc4;
}
#line {
    position: absolute;
    width: 50%;
    top: 9.9%;
    height: 5px;
    border-radius: 10px;
    background-color: #00dfc4;
    z-index: 1;
}
h3 {
    position: absolute;
    top: 23%;
    font-size: 1.7em;
    color: rgba(255, 255, 255, .5);
}
.h3{
    position: absolute;
    top: 31%;
}
b {
    color: #00dfc4;
}
.inputbox {
    transform: translateY(-10px);
    position: relative;
    width: 100px;
    margin: 0 50px;
    display: block;

}
.inputbox input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background: #212121;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .25);
    outline: none;
    color: rgba(255, 255, 255, .7);
    font-size: 1.3em;
    font-weight: 600;
}
.inputbox span {
    position: absolute;
    /* padding: 3px; */
    left: -55%;
    top: -2%;
    font-weight: 700;
    font-size: 1.8em;
    color: #00dfc4;
    font-family: 'Poppins', sans-serif;
}
.eq {
    top: 74%;
    width: auto;
    height: auto;
}

button {
    position: absolute;
    top: 55%;
    width: 130px;
    height: 40px;
    margin-top: 30px;
    background-color: #212121;
    color: rgba(255, 255, 255, .5);
    border: 1.2px solid rgba(255, 255, 255, .25);
    border-radius: 5px;
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .5s;

}
button:hover{
    color: rgba(255, 255, 255, .9);
    border: 1.2px solid rgba(255, 255, 255, .9);
}
button:focus{
    border: 1.2px solid #00dfc4;
    color: #00dfc4;
}
.dis {
    top: 83%;
    width: auto;
    height: auto;
}
.root {
    top: 91%;
    width: auto;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

